{% extends "site_base.html" %}
{% block body_base %}
<div class="container">
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Molecular Endocrinology Lab</h1>
      <p>"Random Quote"</p>
    </div>
  </div>

  <!-- About the Lab -->
  <div class="container">
    <h2 class="text-center">About the Lab</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <br><br>
  <!-- About Anil Limaye -->
  <div class="container">
    <h2 class='text-center'>About Anil Limaye</h2>
    <hr>

    <div class="row">
      <div class="col-md-3">
        <img src="https://placehold.it/150x110?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>

      <div class="col-md-7">
        <b> Dr Anil Mukund Limaye </b>
        <br>
        Associate Professor
        <br>
        Department of Biosciences and Bioengineering
        <br>
        Indian Institute of Technology Guwahati
        <br>
        North Guwahati, Guwahati 781039
        <br>
        Assam, India
        <br>
        email: <a href="mailto:#">amul@iitg.ac.in</a>
        <br>
        Phone: +91-0361-2582218
      </div>

      <div class="col-md-2 text-right">
        <a href="#" class="btn btn-secondary btn-block">Teaching</a>
        <hr>
        <a href="#" class="btn btn-secondary btn-block">Invited Lectures</a>
        <hr>
        <a href="#" class="btn btn-secondary btn-block">Research</a>
      </div>
    </div>

    <br>
    <p>
      Anil Limaye graduated with B.Pharm (1997) and M.Tech (1999) degrees from Jadavpur University. He then moved to Bangalore for his doctoral research under the supervision of Prof. Kondaiah at IISc, Bangalore. He earned his Ph.D in the year 2006 with his thesis titled "Androgen regulated gene expression in the rat ventral prostate: differential regulation by orchidectormy and flutamide treatment". Following short stints at TIFR and JNCASR between 2006 and 2008, he joined the Department of Biosciences and Bioengineering (formerly known as the Department of Biotechnology) at IIT Guwahati as an Assistant Professor. His is a Molecular Endocrinology lab and his group's research is aimed at understanding hormone regulated gene expression, hormone signaling and mechanisms that underlie development and progression of endocrine cancers.
    </p>
    <p>
      Teaching is the other very important part of his job at IIT Guwahati. He takes courses for B.Tech, M.Tech and Ph.D students. The courses he has taken till date include, BT300 (a seminar course for B.Tech students), BT201 (Biochemistry), BT208 (Molecular Biology and Genetic Engineering), BT502 (Quantitative Biology), BT604 (Enzymology) and BT633 (Human Biology and Disease).
    </p>
  </div>
  <br><br>
  <div class="container-fluid bg-3 text-center">
    <h3>Some of our Work</h3><hr><br>
    <div class="row">
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br>

  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div>
  <hr><br><br>
</div>

{% endblock %}
